<%- include ('partials/header.ejs') %>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Project Git Flow.</h1>
        <p class="lead">Using Node, EJS and Bootstrap to playing with Git Flow. Commits, merge, features and release.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>

<%- include ('partials/footer.ejs') %>



     